@font-face {
  font-family: "LilitaOne";
  src: url("../../public/fonts/LilitaOne_BSS.ttf");
}

@font-face {
  font-family: "BrawlStarsDeputy";
  src: url("../../public/fonts/BrawlStarsDeputy_BSS.otf");
}

@font-face {
  font-family: "Nougat";
  src: url("../../public/fonts/Nougat_BSS.ttf");
}

@font-face {
  font-family: "InterTight-Bold";
  src: url("../../public/fonts/InterTight-Bold.woff2");
  font-weight: 800;
}

@font-face {
  font-family: "Inter-Medium";
  src: url("../../public/fonts/Inter-Medium.woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Inter-Regular";
  src: url("../../public/fonts/Inter-Regular.woff2");
  font-weight: 400;

}
